.vs/
.vscode/
*.user

bin/

*/obj/

*.exe
*.obj
*.tlog
*.idb
*.pdb
*FileListAbsolute.txt
*.log
*.exe.recipe
*.iobj
*.ipdb
*.ilk
*/Windows (x64)/
*/Windows (x32)/
/B1T Jam #2 game/B1T Jam #2 game/Windows (x64)/Debug
