.vs/
.vscode/
*.user

bin/

*/obj/

*.exe
*.obj
*.tlog
*.idb
*.pdb
*FileListAbsolute.txt
*.log
*.exe.recipe
*.iobj
*.ipdb
*.ilk
*/Windows (x64)/
*/Windows (x32)/
/B1T Jam #2 game/B1T Jam #2 game/Windows (x64)/Debug
/B1T Jam #2 game/B1T Jam #2 game.vcxproj
/B1T Jam #2 game/B1T Jam #2 game.vcxproj.filters
/B1T Jam #2 game/SDL3_ttf.dll
/B1T Jam #2 game/SDL3_image.dll
/B1T Jam #2 game/SDL3.dll
